.header_mobile_wrap {
  background-color: var(--filling_background-color_global);
  display: grid;
  z-index: 10;
  padding: 0 15px;
  top: 0px;
  border-bottom: var(--border_global);
  height: 45px;
}

.logo_options_menu_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_and_sort_wrap {
  position: absolute;
  top: 45.5px;
  right: 0;
  width: 100%;
}

.logo {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}

.logo svg {
  display: flex;
  fill: var(--fill_global);
  stroke: var(--stroke_global);
  stroke-width: 3;
  position: relative;
  bottom: 0.5px;
  margin-right: 1px;
  width: 32px;
  height: 32px;
}

.logo p {
  display: none;
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: OpenSans, Arial, Helvetica, sans-serif;
}

/* @media (max-width: 420px) {
  .logo p {
    display: none;
  }
} */